# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.yarnclean

# Directories
_book/
coverage/
esm/
lib/
node_modules/

# Custom
tests/bundle.min.js
*.map

# Configs
.babelrc
.eslintrc
.eslintignore
.flowconfig
jest.json
.prettierrc
.prettierignore
tsconfig.json
webpack.config.js
