# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
coverage/
esm/
lib/
node_modules/
dist/

# Custom
*.min.js
*.map

# Configs
.eslintignore
.eslintrc.js
.prettierignore
babel.config.js
jest.config.js
mocha.opts
prettier.config.js
tsconfig.json
tsconfig.options.json
webpack.config.js
*.tsbuildinfo
