# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
coverage/
dts/
esm/
lib/
node_modules/
dist/

# Custom
*.min.js
*.map

# Configs
.eslintignore
.eslintrc.js
.mocharc.js
.prettierignore
.stylelintrc.js
babel.config.js
jest.config.js
mocha.opts
prettier.config.js
rollup.config.js
webpack.config.js
tsconfig.eslint.json
*.tsbuildinfo

# Tests
tests/__fixtures__/**/tsconfig.json
tests/__fixtures__/**/tsconfig.options.json

# Allow
!packages/local/lib/configs/*.js
!tests/__fixtures__/config-lib-module/lib
!tests/__fixtures__/script-lib-module/lib
