*.log
_book/
coverage/
src/
tests/
.eslintcache
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.travis.yml
.yarnclean
babel.config.js
jest.config.js
lerna.json
prettier.config.js
tsconfig.json
*.tsbuildinfo
.DS_Store
